/*Adding font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

/*Adding general declaration*/
*,
*::before,
*::after {
box-sizing: border-box;
font-family: 'Rubik Wet Paint',sans-serif;
margin: 0;
padding: 0;
}

/*Adding some style to the body*/
body{
    min-height: 100vh;
    background: linear-gradient(to bottom right,rgb(106, 31, 219),rgb(110, 24, 201),rgb(136, 18, 136));
}

/*Adding style to the main div element that contain the clock */
.clock{
    /*setting the clock width and height equal to making it circle*/
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255, .7);
    /*using border radius 50% to make the clock div circle*/
    border-radius: 50%;
    border: 3px solid rgb(149, 255, 0);
    /*To make the numbers relative to the clock i added position relative to the clock*/
    position: relative;
}

/*Adding shared style to the clock numbers*/
.clock .number{
    /*Setting the rotation to 0 by default*/
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    /*Adding transform to use rotate property*/
    transform: rotate(var(--rotation));
}

